*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 background-color: #FAFAFA;
 color: #2C2C2A;
}
main{
    padding: 0 20px;
}
#logo{
    display: flex;
}
#logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
nav{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
}
#links-Header{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-color: #8a5a4451;
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-radius: 4px;
}

#inicio{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#textos{
    color: #3b2f2aba;
    background-color: #F5F7F8;
    border: 1px solid;
    border-radius: 10px;
    border-color: #D3D1C7;
    padding: 20px;
    flex: 1;
}
#textos > h2{
    font-size: 3rem;
}
#textos > p{
    font-size: 1.5rem;
}
.atendim{
    margin-top: 15%;
}
form{
    background-color: #F5F7F8;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: solid 1px;
    border-radius: 10px;
    border-color: #D3D1C7;
    flex: 0.8;
}
label{
    padding-top: 20px;
    color: #5F5E5A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
input{
    padding: 10px;
    width: 100%;
    height: 5vh;
    padding: 20px 10px;
    border-radius: 10px;
    border: solid 1px;
}
.dT{
    width: 50%;
}
#data-hora{
    display: flex;
}
#check{
    vertical-align: middle;
}
.checkbox-container{
    display: flex;
    justify-content: space-around;
}
#meu-botao{
    display: flex;
    font-size: 3vh;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #1D9E75;
}
#meu-botao:hover{
    background-color: #0F6E56;
}
main > h2{
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-bottom: 50px;
}
#servicos{
    overflow: hidden;
    width: 100%;
    background-color: #c6d5d153;
    box-sizing: border-box;
    margin-bottom: 10%;
    margin-top: 2%;
}
ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    box-sizing: border-box;
    animation: rolar 60s linear infinite;
    background-color: #F5F7F8;
    padding: 10px;
    border-radius: 200%;
    
}
li{
    background-color: #d3d1c746;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px;
}
li:hover{
    background-color: #f4f4f4;
    transform: translatey(-3px);
}
@keyframes rolar {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}
#equipe{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20%;;
}
.equi{
    background-color: #5f5e5a62;
    color: #2C2C2A;
    border-radius: 5px;
    width: 30%;
    padding: 20px;
}
.equi img{
    width: 30%;
    height: 40%;
    border: 1px solid;
    border-radius: 5px;
    border-color: #2c2c2a54;
}
.equi > p{
    font-size: 2rem;
    margin-bottom: 10px;
}
.apresentacao{
    color: #353433;
    font-size: 1rem;
}
footer{
    background-color: #2c2c2a27;
    display: flex;
    flex-direction: column;
    padding: 20px;
}